Repository daos-stack/daos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @daos-stack/build-and-release-watchers, @daos-stack/common-watchers, @daos-stack/go-owners, @daos-stack/go-watchers, @daos-stack/vos-owners, @daos-stack/vos-watchers, @daos-stack/client-api-owners, @daos-stack/client-api-watchers, @daos-stack/doc-watchers, @daos-stack/dev-build-owners, @daos-stack/dev-build-watchers, @daos-stack/ftest-owners, @daos-stack/ftest-watchers, @daos-stack/telem-watchers, @daos-stack/object-owners, @daos-stack/object-watchers, @daos-stack/cart-owners, @daos-stack/cart-watchers, @daos-stack/metadata-owners, @daos-stack/metadata-watchers

DAOS-8331: gurt: add ephemeral lock for ephemeral directory
  src/client/api/metrics.c
  src/gurt/telemetry.c
  src/include/gurt/telemetry_common.h
Owners: @daos-stack/client-api-owners, @daos-stack/client-api-watchers, @daos-stack/telem-watchers

DAOS-8331 gurt: fix input check
  src/gurt/telemetry.c
Owners: @daos-stack/telem-watchers

DAOS-8331 gurt: miss lock in ephemeral delete
  src/gurt/telemetry.c
Owners: @daos-stack/telem-watchers

DAOS-7301 test: Test scrubber RAS event messages. Test-tag: test_scrubber_ssd_auto_eviction always_passes test_tiers
  src/tests/ftest/scrubber/target_auto_eviction.py
Owners: @daos-stack/ftest-owners, @daos-stack/ftest-watchers

DAOS-8331 gurt: fix typo
  src/gurt/telemetry.c
Owners: @daos-stack/telem-watchers

DAOS-11203 tests: collect more log for online_rebuild_mdtest
  src/tests/ftest/erasurecode/online_rebuild_mdtest.yaml
Owners: @daos-stack/ftest-owners, @daos-stack/ftest-watchers

Update telemetry verifiaction.
  src/tests/ftest/telemetry/wal_metrics.py
  src/tests/ftest/util/telemetry_utils.py
Owners: @daos-stack/ftest-owners, @daos-stack/ftest-watchers

DAOS-15128 objects: collect more log for merging query results
  src/object/obj_utils.c
  src/tests/ftest/erasurecode/truncate.yaml
Owners: @daos-stack/object-owners, @daos-stack/object-watchers, @daos-stack/ftest-owners, @daos-stack/ftest-watchers

Add an extra dir to search path.
  ci/provisioning/post_provision_config_nodes_EL_8.sh
  src/tests/ftest/mpiio/llnl_mpi4py.py
  utils/rpms/daos.spec
Owners: @daos-stack/ftest-owners, @daos-stack/ftest-watchers, @daos-stack/build-and-release-watchers

Change python.
  ci/provisioning/post_provision_config_nodes_EL_8.sh
  src/tests/ftest/mpiio/llnl_mpi4py.py
Owners: @daos-stack/ftest-owners, @daos-stack/ftest-watchers

Update dnf before install.
  ci/provisioning/post_provision_config_nodes_EL_8.sh
Owners: none

Chanve version.
  ci/provisioning/post_provision_config_nodes_EL_8.sh
Owners: none

.github/CODEOWNERS:

# have Release Engineering added as a reviewer to any PR that updates
# a component sha1 to ensure that corresponding package build is done
#utils/build.config @daos-stack/release-engineering
# or updates packaging in any way
utils/rpms @daos-stack/build-and-release-watchers

src/gurt @daos-stack/common-watchers
src/common @daos-stack/common-watchers

# any PR that touches Go files should get a review from go-owners
*.go @daos-stack/go-owners @daos-stack/go-watchers

# Notify vos-watcher of files touched affecting VOS
src/vos/ @daos-stack/vos-owners @daos-stack/vos-watchers
src/common/btree*.* @daos-stack/vos-owners @daos-stack/vos-watchers
src/include/daos/btree*.* @daos-stack/vos-owners @daos-stack/vos-watchers
src/include/daos_srv/vos*.* @daos-stack/vos-owners @daos-stack/vos-watchers
src/include/daos_srv/evtree.h @daos-stack/vos-owners @daos-stack/vos-watchers

# Jenkinsfile changes should be reviewed by Release Engineering
Jenkinsfile @daos-stack/build-and-release-watchers

# any PR that touches client API or high level client code
src/client @daos-stack/client-api-owners @daos-stack/client-api-watchers
src/include/daos_*.* @daos-stack/client-api-owners @daos-stack/client-api-watchers

# doc-watchers: files affecting documentation (docs, doxygen, etc.)
mkdocs.yml @daos-stack/doc-watchers
Doxyfile @daos-stack/doc-watchers
docs/ @daos-stack/doc-watchers
#src/include/*.h @daos-stack/doc-watchers
*.md @daos-stack/doc-watchers

# dev-build-watchers: Files affecting local builds (e.g. SCons)
SConstruct @daos-stack/dev-build-owners @daos-stack/dev-build-watchers
SConscript @daos-stack/dev-build-owners @daos-stack/dev-build-watchers
site_scons/ @daos-stack/dev-build-owners @daos-stack/dev-build-watchers
utils/sl @daos-stack/dev-build-owners @daos-stack/dev-build-watchers

# ftest-watchers: files affecting functional tests
src/tests/ftest @daos-stack/ftest-owners @daos-stack/ftest-watchers

# telem-watchers: Changes related to the telemetry library
src/utils/daos_metrics @daos-stack/telem-watchers
src/gurt/telemetry.c @daos-stack/telem-watchers

# PRs that touch the object layer
src/object/ @daos-stack/object-owners @daos-stack/object-watchers
src/rebuild/ @daos-stack/object-owners @daos-stack/object-watchers
src/dtx/ @daos-stack/object-owners @daos-stack/object-watchers

# PRs that touch the CaRT layer
src/cart/ @daos-stack/cart-owners @daos-stack/cart-watchers

# PRs that touch the metadata
src/pool/ @daos-stack/metadata-owners @daos-stack/metadata-watchers
src/container/ @daos-stack/metadata-owners @daos-stack/metadata-watchers
src/rdb/ @daos-stack/metadata-owners @daos-stack/metadata-watchers
src/rsvc/ @daos-stack/metadata-owners @daos-stack/metadata-watchers
