Repository daos-stack/daos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @daos-stack/build-and-release-watchers, @daos-stack/go-watchers, @daos-stack/vos-watchers, @daos-stack/client-api-watchers, @daos-stack/doc-watchers, @daos-stack/ftest-watchers

.github/CODEOWNERS:

# have Release Engineering added as a reviewer to any PR that updates
# a component sha1 to ensure that corresponding package build is done
#utils/build.config @daos-stack/release-engineering
# or updates packaging in any way
utils/rpms @daos-stack/build-and-release-watchers

# any PR that touches Go files should get a review from go-owners
*.go @daos-stack/go-watchers

# Notify vos-watcher of files touched affecting VOS
src/vos/ @daos-stack/vos-watchers
src/common/btree*.* @daos-stack/vos-watchers
src/include/daos/btree*.* @daos-stack/vos-watchers
src/include/daos_srv/vos*.* @daos-stack/vos-watchers
src/include/daos_srv/evtree.h @daos-stack/vos-watchers

# Jenkinsfile changes should be reviewed by Release Engineering
Jenkinsfile @daos-stack/build-and-release-watchers

# any PR that touches client API or high level client code
src/client @daos-stack/client-api-watchers
src/include/daos_*.* @daos-stack/client-api-watchers

# doc-watchers: files affecting documentation (docs, doxygen, etc.)
mkdocs.yml @daos-stack/doc-watchers
Doxyfile @daos-stack/doc-watchers
docs/ @daos-stack/doc-watchers
#src/include/*.h @daos-stack/doc-watchers
*.md @daos-stack/doc-watchers

# ftest-watchers: files affecting functional tests
src/tests/ftest @daos-stack/ftest-watchers

DAOS-9860 dtx: do not skip DTX resync (#8455)
  src/dtx/dtx_resync.c
  src/dtx/dtx_rpc.c
Owners: none

DAOS-9860 dtx: do not skip DTX resync (#8456)
  src/dtx/dtx_resync.c
  src/dtx/dtx_rpc.c
Owners: none

DAOS-8973 test: Verify correctness of telemetry data for I/O dtx committed metrics (#7412) (#8411)
  src/tests/ftest/control/dmg_telemetry_io_latency.py
  src/tests/ftest/control/dmg_telemetry_io_latency.yaml
Owners: @daos-stack/ftest-watchers

DAOS-9277 test: Add delay after reintegrating few targets. (#8228)
  src/tests/ftest/osa/offline_reintegration.py
  src/tests/ftest/osa/offline_reintegration.yaml
Owners: @daos-stack/ftest-watchers

Take it a step further
  src/include/daos_srv/vos.h
  src/vos/vos_iterator.c
  src/vos/vos_obj.c
  src/vos/vos_obj_index.c
Owners: @daos-stack/vos-watchers

Reduce the priority of filter credits but still account for them
  src/object/srv_ec_aggregate.c
Owners: none

Reduce the priority of filter credits but still account for them
  src/object/srv_ec_aggregate.c
Owners: none

Make it 20x
  src/object/srv_ec_aggregate.c
Owners: none

Make it 20x
  src/object/srv_ec_aggregate.c
Owners: none

DAOS-8905 test: Adjust hwloc test for real hardware
  src/control/lib/hardware/hwloc/provider_test.go
Owners: @daos-stack/go-watchers

DAOS-6344 build: create daos_daemons secondary group (#8421)
  utils/rpms/daos.spec
Owners: @daos-stack/build-and-release-watchers

DAOS-6344 build: create daos_daemons secondary group (#8331) (#8369)
  debian/daos-client.preinst
  debian/daos-server.preinst
  utils/rpms/daos.spec
Owners: @daos-stack/build-and-release-watchers

Update VERSION file too
  VERSION
Owners: none

Fix build tags
  src/control/SConscript
Owners: none

DAOS-9355 doc: clean up agent section in deployment.md (#8401)
  docs/admin/deployment.md
Owners: @daos-stack/doc-watchers

DAOS-9355 doc: clean up agent section in deployment.md (#8401)
  docs/admin/deployment.md
Owners: @daos-stack/doc-watchers

Update src/control/SConscript
  src/control/SConscript
Owners: none

DAOS-7878 vos: Partial revert of punch propagation (#8439)
  src/vos/tests/vts_mvcc.c
  src/vos/vos_obj.c
Owners: @daos-stack/vos-watchers

DAOS-10089 build: tag 2.0.2 RC1 (#8459)
  TAG
  VERSION
  debian/changelog
  docs/release/release_notes.md
  utils/rpms/daos.spec
Owners: @daos-stack/doc-watchers, @daos-stack/build-and-release-watchers

Remove new D_ERROR logs causing NLT failures
  src/pool/cli.c
Owners: none

CART-989 cart: Call network initializaion code for UCX. (#8350)
  src/cart/crt_init.c
  utils/build.config
Owners: none

DAOS-8992 test: launch.py updates for on-site testing (#8229)
  src/tests/ftest/launch.py
  src/tests/ftest/util/server_utils_params.py
Owners: @daos-stack/ftest-watchers

DAOS-10129 test: add feature tags to ftest/datamover
  src/tests/ftest/datamover/copy_procs.py
  src/tests/ftest/datamover/dst_create.py
  src/tests/ftest/datamover/large_dir.py
  src/tests/ftest/datamover/large_file.py
  src/tests/ftest/datamover/negative.py
  src/tests/ftest/datamover/negative_space.py
  src/tests/ftest/datamover/obj_large_posix.py
  src/tests/ftest/datamover/obj_small.py
  src/tests/ftest/datamover/posix_meta_entry.py
  src/tests/ftest/datamover/posix_preserve_props.py
  src/tests/ftest/datamover/posix_subsets.py
  src/tests/ftest/datamover/posix_symlinks.py
  src/tests/ftest/datamover/posix_types.py
  src/tests/ftest/datamover/serial_large_posix.py
  src/tests/ftest/datamover/serial_small.py
Owners: @daos-stack/ftest-watchers

Some more work
  src/include/daos_srv/vos_types.h
  src/tests/vos_perf.c
  src/vos/vos_container.c
  src/vos/vos_dtx_iter.c
  src/vos/vos_internal.h
  src/vos/vos_iterator.c
  src/vos/vos_obj.c
  src/vos/vos_obj_index.c
Owners: @daos-stack/vos-watchers

Fix an additional bug so we don't misinterpret probe and next rc
  src/vos/vos_iterator.c
Owners: @daos-stack/vos-watchers

Fix an additional bug so we don't misinterpret probe and next rc
  src/vos/vos_iterator.c
Owners: @daos-stack/vos-watchers

DAOS-10126 test: fix rs_state before rebuild
  src/tests/ftest/rebuild/with_ior.py
Owners: @daos-stack/ftest-watchers

DAOS-10125 rebuild: add rebuild IV debug info
  src/rebuild/rebuild_iv.c
  src/rebuild/srv.c
Owners: none

Adding support for DAOS_IOD_ARRAY in pipeline API
  src/include/daos_pipeline.h
  src/pipeline/aggr_funcs.c
  src/pipeline/common_pipeline.c
  src/pipeline/filter_funcs.c
  src/pipeline/getdata_funcs.c
  src/pipeline/pipeline_internal.h
  src/pipeline/pipeline_rpc.h
  src/pipeline/srv_pipeline.c
Owners: @daos-stack/client-api-watchers
