Repository daos-stack/daos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @release-engineering, @go-owners, @daos-stack/build-and-release-watchers, @daos-stack/client-api-watchers, @daos-stack/doc-watchers

.github/CODEOWNERS:

# have release-engineering added as a reviewer to any PR that updates
# a component sha1
utils/build.config @release-engineering
# or updates packaging in any way
utils/rpms @release-engineering

# any PR that touches Go files should get a review from go-owners
*.go @go-owners

# any PR that touches VOS files should get a review from VOS
src/vos/* src/common/btree*.* @VOS

# Jenkinsfile changes should be reviewed by Release Engineering
Jenkinsfile @daos-stack/build-and-release-watchers

# any PR that touches client API or high level client code
src/client @daos-stack/client-api-watchers
src/include/daos_*.* @daos-stack/client-api-watchers

# doc-watchers: files affecting documentation (docs, doxygen, etc.)
mkdocs.yml @daos-stack/doc-watchers
Doxyfile @daos-stack/doc-watchers
docs/ @daos-stack/doc-watchers
src/include/*.h @daos-stack/doc-watchers
*.md @daos-stack/doc-watchers

Potential fix for segfault and debugging
  src/object/srv_obj.c
Owners: none

DAOS-10014 control: Disable hugepages when running NLT based tests
  src/control/server/config/server.go
  src/control/server/server_utils.go
  src/tests/ftest/util/server_utils.py
  utils/nlt_server.yaml
Owners: @go-owners

DAOS-1452 ci: address Phil's concerns and cosmetics
  src/tests/ftest/server/daos_server_dump.py
  src/tests/ftest/server/daos_server_dump.yaml
  src/tests/ftest/util/general_utils.py
Owners: none

DAOS-9972 control: Fail service start-up if initial scan errors
  src/control/server/server_utils.go
  src/control/server/server_utils_test.go
Owners: @go-owners

Update io.yaml to enable nvme and pmem.
  src/tests/ftest/nvme/io.yaml
Owners: none

DAOS-9972 test: SPDK discovery fails with VMD enabled
  utils/rpms/packaging/Dockerfile.mockbuild
Owners: @release-engineering

DAOS-9548 placement: use ENV "DAOS_PD_NUM" to set number of perf_domain
  src/common/pool_map.c
  src/placement/jump_map.c
Owners: none

DAOS-9972 test: SPDK discovery fails with VMD enabled
  utils/rpms/packaging/Dockerfile.mockbuild
Owners: @release-engineering

DAOS-9972 test: experiment with vmd fail on degraded mode
  src/bio/bio_buffer.c
  src/bio/bio_xstream.c
  src/control/server/storage/bdev/backend.go
Owners: @go-owners

DAOS-9972 test: SPDK discovery fails with VMD enabled
  src/tests/ftest/util/server_utils.py
Owners: none

Revert "DAOS-9972 test: SPDK discovery fails with VMD enabled"
  src/tests/ftest/util/server_utils.py
Owners: none

DAOS-9972 test: SPDK discovery fails with VMD enabled
  src/tests/ftest/scripts/setup_nodes.sh
Owners: none

fix flake error
  src/tests/ftest/util/server_utils_params.py
Owners: none
